.row{
    width: 100%;
    height: 600px;
    background: white;
    box-sizing: border-box;
}
.row-blue{
    background: blue;
    height: 150px;
}

.col-blue{
    margin: 0 0 0 300px;
    padding: 0;
    width: 150px;
    height: 225px;
    background: blue;
}

.row-white {
    border: solid 2px black;
    width: 100%;
    height: 100%;
    background: white;
    box-sizing: border-box;
}
.circle-red{
    background:red;
    margin: 150px 0 0 525px;
    border-radius: 250px;
    height: 300px;
    width:300px;
}

.row-black{
    background: black;
    height: 200px;
}

.row-red{
    background: red;
    height: 200px;
}

.row-yellow{
    background: yellow;
    height: 200px;
}

.row-blue2{
    height:67px;
    background:blue;
}

.row-white2{
    height:67px;
}

.col-blue2{
    width:134px;
    height: 67px;
    background:blue;
    float:left;
}

.col-white{
    width:67px;
    height: 67px;
    background:white;
    float:left;
}

.row-red2{
    width:100%;
    height:150px;
    background:red;
}

.row-white3{
    width:100%;
    height:300px;
}

.img{
    z-index:1;
    width:250px;
    height:250px;
    margin-left: 525px;
    margin-top: 25px;
}