/* Button */

.btn {
    display: inline-block;
    margin: 10px 5px;
    padding: 5px 5px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    transition: background 0.2s ease-in-out 0s;
    cursor: pointer;
    text-align: center;
    border: none;
}

.btn:hover {
    transform: scale(1.05);
}

.form-btn {
    width: 180px;
    height: 50px;
    background: #4e496a;
    color: #f5f3f1;
}

.bar-btn {
    border-radius: 8px;
    background: #4e496a;
    color: #f5f3f1;
}

.info-btn {
    width: 70px;
    height: 35px;
    background: #4e496a;
    color: #f5f3f1;
}

.clear-btn {
    width: 90px;
    height: 35px;
    background: #f5f3f1;
    color: #4e496a;
    border: solid 1px #9c97b9;
}

.search-btn {
    width: 180px;
    height: 40px;
    background: #4e496a;
    color: #f5f3f1;
    margin-left: 28%;
}



