/* Button */

.btn{
    margin-top:10px;
    margin-bottom: 10px;
    cursor: pointer;
    box-sizing:border-box;
    transition: background 0.2s ease-in-out 0s;
}

.btn:hover {
    transform: scale(1.1);
}

.btn-pokeball{
    width:50px;
    height:50px;
}