/* General */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    background: #1F3366;
    color: #fff;
}

a, button {
    outline: none;
}

a {
    color: rgb(255,255,255);
    text-decoration: none;
}

.pull-left {
    float:left;
}

.pull-right {
    float:right;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
    clear: both;
}

h1, h2, h3, p {
    margin: 0 0 15px;
}

h1 {
    font-size: 28px;
    line-height: 32px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

h3 {
    font-size: 15px;
    line-height: 19px;
}

h4{
    font-size: 14px;
    line-height: 18px;
}

.table, .table-cell {
    width: 100%;
    height: 100%;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;

}

.text-center {
    text-align: center;
}

ul{
    list-style-type: none;
    padding:0;
    margin:0;
}

li{
    text-align: left;
    padding:0;
    margin: 0;
}
