/* Header */

.header {
    padding: 15px 0;

}

.header .logo{
    width: 540px;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media (min-width: 300px){
    .header .logo{
        width: 370px;
        height: 140px;
    }
}

@media (min-width: 550px){
    .header .logo{
        width: 510px;
        height: 210px;
    }
}

@media (min-width: 800px){
    .header .logo{
        width: 740px;
        height: 300px;
    }
}

@media (min-width: 1600px){
    .header .logo{
        width: 840px;
        height: 340px;
    }
}
