/* Pokedex */
.div{
    position:absolute;
}

.pokedex-img{
    margin-top: 50px;
    margin-left: 12%;
}

.img-poke {
    margin-top: 250px;
    margin-left: 235px;
}

.nome-poke{
    margin-top: 520px;
    margin-left: 200px;
    color:#272727;
}

.id-poke{
    margin-top: 522px;
    margin-left: 580px;
}

.altura-poke{
    margin-top: 210px;
    margin-left: 580px;
}

.peso-poke{
    margin-top: 240px;
    margin-left: 580px;
}

.tipo-poke{
    margin-top: 270px;
    margin-left: 580px;
}

.status-poke{
    margin-top: 335px;
    margin-left: 580px;
}