/* Section */

.container {
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin: 0 -15px;
}

.row:before, .row:after {
    content:'';
    display: table;
    clear: both;
}

.form-input{
    margin-top:15px;
    margin-bottom: 15px;
}
