/* Footer */

.footer {
    padding: 30px 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    background: -moz-linear-gradient(-45deg,  #0f7afd 1%, #34ae49 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #0f7afd 1%,#34ae49 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #0f7afd 1%,#34ae49 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.footer nav {
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
}

.footer a {
    color: #fff;
}

.footer p {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
}

@media (max-width: 600px){
    .footer nav{
        margin-left:-15px;
        margin-right:-15px;
    }

    .footer a{
        padding:7px;
        font-size:12px;
        line-height:12px;
    }

    .footer p{
        padding:7px;
        font-size:10px;
        line-height:12px;
    }
}