/* Section */

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media(max-width:600px){
    section{
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

.container {
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin: 0 -15px;
}

.row:before, .row:after {
    content:'';
    display: table;
    clear: both;
}

.column {
    padding: 15px 15px;
    box-sizing: border-box;
}

.column-sm-100{
    width: 100%;
}

.column-sm-50{
    width: 50%;
}
.column-sm-25{
    width: 25%;
}

.column-sm-70{
    width: 70%;
}

.column-sm-35 {
    width: 35%;
}

.column-sm-30 {
    width: 30%;
}

@media(min-width:480px){
    .column-sm-100{
        width: 100%;
    }
    .column-md-50{
        width: 50%;
    }
    .column-md-25{
        width: 25%;
    }
    
    .column-md-70{
        width: 70%;
    }
    
    .column-md-35 {
        width: 35%;
    }
    
    .column-md-30 {
        width: 30%;
    }
}

@media(min-width:900px){
    .column-lg-100{
        width: 100%;
    }
    .column-lg-50{
        width: 50%;
    }
    .column-lg-25{
        width: 25%;
    }
    
    .column-lg-70{
        width: 70%;
    }
    
    .column-lg-35 {
        width: 35%;
    }
    
    .column-lg-30 {
        width: 30%;
    }
}

.column h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    color: rgb(90, 90, 90);
}
.column h3 {
    color: rgb(90, 90, 90);
}

.column p {
    color: rgb(110, 110, 110);
}

.thumbnail {
    width: 90px;
    height: 90px;
    margin:0 15px 15px; /*top right bottom left*/
}

.card {
    padding: 15px 15px;
    border-top: solid 1px rgb(225, 225, 225);
    border-right: solid 1px rgb(225, 225, 225);
    border-radius: 4px;
    background: #fff;
    transition: transform 0.3s ease-in-out 0s;
}

.card:hover {
    transform: scale(1.05);
}
.card .thumbnail{
    width: 70px;
    height: 70px;
}

.card p {
    font-size: 14px;
    line-height: 18px;
}

.hide{
    display: none;
}

@media(max-width:479px){
    .show-on-sm{
        display: block;
    }
}

@media(min-width:480px) and (max-width:899px){
    .show-on-md{
        display: block;
    }
}

@media(min-width: 900px){
    .show-on-lg{
        display: block;
    }
}