
.article-list article:hover{
    transform:scale(1.1);
}

@media(min-width: 480px){
    .article-list p{
        min-height:306px;
    }
}

@media(min-width: 900px){
    .article-list p{
        min-height:400px;
    }
}