/* Header */

.header {
    padding: 15px 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#201e2b, #4e496a);  
    position: relative;
    z-index: 3;
}

.header li {
    padding: 5px 0;
    font-weight: bold;
    
}

.header a:hover{
    transform: scale(1.1);
    
}

.header a:active{
    color: #4e496a;
    
}

.logo {
    font-size: 28px;
    line-height: 34px;
    font-weight: bold;
    padding-top: 20px;
    color: #f8f8f8;
}

.header-btn {
    display: inline-block;
    width: 90px;
    margin: 10px 15px;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 22px;
    transition: background 0.2s ease-in-out 0s;
    cursor: pointer;
    text-align: center;
    border: none; 
    background: #f8f8f8;
    color: #4e496a;
}

.header-btn:hover {
    transform: scale(1.1);
}



