.card {
    margin-bottom: 150px;
    height: 275px;
    padding: 30px 15px;
    border-radius: 12px;
    background: #f8f8f8;
    transition: transform 0.3s ease-in-out 0s;
}

.card:hover {
    transform: scale(1.05);
}

.card-info {
    margin-bottom: 45%;
    padding: 30px 15px;
    border-radius: 12px;
    background: #f8f8f8;
}

.card-login {
    margin-bottom: 25%; 
    height: 300px;
    padding: 30px 15px;
    border-radius: 12px;
    background: #f8f8f8;
}