/* Footer */

.footer {
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 15px 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#1a1a1a, #141414, #080808);
}

.footer nav {
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
    margin-bottom: 15px;
}

.footer a {
    color: #f5f5f1;
}

.footer a:hover {
    color: #a8a8a8;
}

.footer p {
    color: #f5f5f1;
    font-size: 12px;
    line-height: 14px;
}