/* Form */

input {
    border:none;
}

.label {
    margin-bottom: 30px; 
    font-size: 20px;
    line-height: 24px;
}

.form {
    margin:0;
    padding: 0;
    margin-top: 30px;
}

.field {
    padding: 5px 10px;
    margin: 15px 0;
    width: 75%;
    max-width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
}

.field::placeholder {
    color: rgb(180, 180, 180);
    font-family: Arial, Helvetica, sans-serif;
}

.field:focus {
    outline:none;
}

.form-btn{
    width: 230px;
    height: 50px;
    background: #e50914;
    color: #f5f5f1;
    margin-bottom: 30px;
}

