/* General */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #f5f5f1;
    background: black;
}

a, button {
    outline: none;
}

a {
    color: #f5f5f1;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li, nav a {
    display: inline-block;
}

nav a:not(.logo) {
    padding: 10px;
}

.pull-left {
    float:left;
}

.pull-right {
    float:right;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
    clear: both;
}

h1, h2, h3, p {
    margin: 0 0 15px;
}

h1 {
    font-size: 30px;
    line-height: 34px;
}

h2 {
    font-size: 26px;
    line-height: 30px;
}

h3 {
    font-size: 22px;
    line-height: 26px;
}

h4 {
    font-size: 18px;
    line-height: 22px;
}

.table, .table-cell {
    width: 100%;
    height: 100%;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;

}

.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    margin: 15px 15px;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 22px;
    line-height: 26px;
    transition: background 0.2s ease-in-out 0s;
    cursor: pointer;
    text-align: center;
    border: none;
}

.btn:hover {
    transform: scale(1.05);
}

ul, li {
    list-style: none;
}


