/* Header */

.header {
    padding: 15px 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#080808, #141414, #1a1a1a);  
    position: relative;
    z-index: 3;
}

.header li {
    padding: 5px 0;
    
}

.header a:hover{
    color: #a8a8a8;
    
}

.header a:active{
    color: #e50914;
    
}

.logo {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    padding-top: 15px;
    color: #e50914;
}



