/* Section */

.jsflix-btn {
    width: 230px;
    height: 50px;
    background: #141414;
    color: #f5f5f1;
}

.jsflix-btn:hover {
    width: 230px;
    height: 50px;
    background: #f5f5f1;
    color: #383838;
}