/* React Mirror */

.mirror-img{
    border: solid 1px black; 
    border-radius: 4px;
}

.mirror-btn{
    width: 230px;
    height: 50px;
    background: #e50914;
    color: #f5f5f1;
}

.mirror-h1 {
    margin-top: 15px;
    margin-bottom: 40px;
}

.mirror-h3 {
    margin-bottom: 20px;
}

.mirror-h4 {
    margin-bottom: 20px;
}

.mirror-h6 {
    margin-bottom: 91px;
}

.msgVerde {
    background: green;
}

.msgVermelha {
    background: red;
}

.fade-in {
    animation: fadein 1s linear forwards;
}

.fade-out {
    animation: fadeout 1s linear forwards;
}

@keyframes fade-in { from { opacity: 0; } to { opacity: 1; visibility: visible; } }

@keyframes fade-out { from { opacity: 1; } to { opacity: 0; visibility: hidden; } }