/* Section */

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    min-height: 70vh;
    margin: 0 -15px;
}

.row:before, .row:after {
    content:'';
    display: table;
    clear: both;
}

.col {
    padding: 15px 15px;
    box-sizing: border-box;
}

.col-50{
    width: 50%;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}


