/* Footer */

.footer {
    padding: 15px 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#1B1B1D, #383934);
}

.footer nav {
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
    margin-bottom: 15px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #f17b3c;
}

.footer p {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
}