/* Button */

.button {
    display: inline-block;
    margin: 0;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    transition: background 0.2s ease-in-out 0s;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
}

.button-orange {
    background: #f17b3c;
    color: #383934;
}

.button-black {
    background: #383934;
}

.button-orange:hover {
    background: #383934;
}

.button-black:hover {
    background: #f17b3c;
    color: #383934;
}

.button-orange:active {
    background:383934;
}

.button-black:active {
    background: #f17b3c;
}
