/* Form */

input {
    border:none;
}

.select {
    color: rgb(90, 90, 90);
}
.contact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgb(110, 110, 110);
}

.contact h3 {
    color: rgb(90, 90, 90);
    margin-bottom: 30px; 
}

.contact p {
    margin-bottom: 30px;
}

.row iframe{
    display: block;
    width: 100%; 
    height:695px; 
    border:none;
    box-sizing: border-box
}

.form {
    margin:0;
    padding: 0;
}

.contact a {
    color:#383934;
}

.field {
    display: block;
    padding: 5px 10px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
    border: solid 1px rgb(225, 225, 225);
    box-sizing: border-box;
}

.field::placeholder {
    color: rgb(180, 180, 180);
    font-family: Arial, Helvetica, sans-serif;
}

.field:focus {
    outline-color: #f17b3c;
}

