/* Section */

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin: 0 -15px;
}

.row:before, .row:after {
    content:'';
    display: table;
    clear: both;
}

.column {
    padding: 15px 15px;
    box-sizing: border-box;
}

.column-half{
    width: 50%;
}
.column-25{
    width: 25%;
}

.column-70{
    width: 70%;
}

.column-35 {
    width: 35%;
}

.column-30 {
    width: 30%;
}

.column-33 {
    width: 33%;
}

.column h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    color: rgb(90, 90, 90);
}
.column h3 {
    color: rgb(90, 90, 90);
}

.column p {
    color: rgb(110, 110, 110);
}

.thumbnail {
    margin:0 15px 15px; 
}

.avatar {
    width: 120px;
    height: 110px;
    margin:0 15px 15px;
    border-radius: 4px;
}

.card {
    padding: 15px 15px;
    border: solid 1px #f17b3c;
    border-radius: 4px;
    background: #fff;
    transition: transform 0.3s ease-in-out 0s;
}

.card:hover {
    transform: scale(1.05);
}
.card .thumbnail{
    width: 250px;
    height: 350px;
}

article .thumbnail {
    width: 100px;
    height: 100px;
}

article.card {
    height: 460px;
}

.card p {
    font-size: 14px;
    line-height: 18px;
}