html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color:#4e496a;
  background: #e0ddf0;
  min-height:100%; 
  position:relative; 
  padding-bottom:[footer-height] 
}

a, button {
  outline: none;
}

a {
  color: #f8f8f8;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li, nav a {
  display: inline-block;
}

nav a:not(.logo) {
  padding: 10px;
}

.pull-left {
  float:left;
}

.pull-right {
  float:right;
}

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
  clear: both;
}

h1, h2, h3, p {
  margin: 0 0 15px;
}

h1 {
  font-size: 36px;
  line-height: 42px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 28px;
  line-height: 34px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
}

h5 {
  font-size: 20px;
  line-height: 26px;
}

p {
    font-size: 16px;
    line-height: 22px;
}

.table, .table-cell {
  width: 100%;
  height: 100%;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;

}

.text-center {
  text-align: center;
}

ul, li {
  list-style: none;
  margin: 15px 0;
  padding: 0 15px;
}

.container {
  width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-navbar {
  display: flex;
  justify-content: center;
  background: #6a6586;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.row {
  min-height: 50vh;
  margin: -15 -15px;
}

.empty-row {
  min-height: 32vh;
}

.row:before, .row:after {
  content:'';
  display: table;
  clear: both;
}

.col {
  padding: 30px 15px;
  box-sizing: border-box;
}

.col-login {
  margin-top: 10%;
}

.col-50{
  width: 50%;
}

.banner {
  position: relative;
  color: #4e496a;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  background: url("./img/banner.png") no-repeat center bottom / cover;
}

.banner .container {
  height: calc(100vh - 310px);
  position: relative;
  z-index: 2;
}

hr {
  background-color: #bcbac7;
  height: 1px;
  border: 0;
}