/* Input */

input {
    border:none;
    background: transparent;
    border-bottom: 1px solid #bcbac7;
}

.label {
    margin-bottom: 30px; 
    font-size: 20px;
    line-height: 24px;
}

.field {
    padding: 5px 10px;
    margin: 15px 0;
    width: 50%;
    height: 30px;
    max-width: 100%;
    box-sizing: border-box;
}

.field::placeholder {
    color: rgb(128, 128, 128);
    font-family: Arial, Helvetica, sans-serif;
}

.field:focus {
    outline: none;
}

.digital {
    font-size: 14px;
    line-height: 18px;
    float:right;
    margin-top: 20px;
    margin-right: 10px;
}