/* Footer */

.footer {
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 15px 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#4e496a, #201e2b);
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height] 
}

.footer nav {
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
    margin-bottom: 15px;
}

.footer a {
    color: #f8f8f8;
}

.footer a:hover {
    color: #a8a8a8;
}

.footer p {
    color: #f8f8f8;
    font-size: 12px;
    line-height: 14px;
}
